	
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">  
		 <li>
		  <% if current_user %>
		    <%= link_to "Sign out", signout_path, id: "sign_out" ,class: 'navbar-link'%>
		  <% else %>
		    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in",class: 'navbar-link' %>
		  <% end %>
		</li>     
      </ul>
    </nav>
  </div>

    <script src="https://apis.google.com/js/platform.js" async defer>
    </script>
	
</header>